rnaseq/alignments/figures/

rnaseq/pcor_new/GeneNet/170412_explore_cutoff_0.01/
rnaseq/pcor_new/GeneNet/170425_explore_cutoff_0.01/

data/
m4b_binning/assembly/contigs_by_length/contigs_longer_than_1500bp.fa.lengths.tsv
rnaseq/pcor_new/GeneNet/.Rhistory
rnaseq/pcor_new/GeneNet/170406_look_at_GeneNet_network--before_cutoff_correction.ipynb
rnaseq/pcor_new/GeneNet/170406_look_at_GeneNet_network_with_NetworkX--old.ipynb
rnaseq/pcor_new/GeneNet/170411_explore_networks_with_differet_cutoffs--debug_completed.ipynb
rnaseq/pcor_new/GeneNet/170411_figure_out_node_loading_oddity--done.ipynb
rnaseq/pcor_new/GeneNet/170412_look_at_GeneNet_network.ipynb
rnaseq/pcor_new/GeneNet/broken_gene_names/
rnaseq/pcor_new/GeneNet/cutoff_0.0005/
rnaseq/pcor_new/GeneNet/cutoff_0.0008/
rnaseq/pcor_new/GeneNet/cutoff_0.001/
rnaseq/pcor_new/GeneNet/cutoff_0.005/
rnaseq/pcor_new/GeneNet/cutoff_0.01/
rnaseq/pcor_new/GeneNet/cutoff_0.05/
rnaseq/pcor_new/GeneNet/cutoff_0.1/
rnaseq/pcor_new/GeneNet/input_for_R--unnormalized_fracs_of_fastq.tsv
rnaseq/pcor_new/GeneNet/input_to_R--no_features_dropped.tsv
rnaseq/pcor_new/GeneNet/old/
rnaseq/pcor_new/GeneNet/results_170409/
rnaseq/pcor_new/GeneNet/results_170409_627_features_100_edges/
rnaseq/pcor_new/Ledoit_Wolf_r4.8xlarge_244GB_memory--before_bug_fix/
rnaseq/pcor_new/networkx/170401ledoit_wolf_26967_genes_2.5percent_network.gml
rnaseq/pcor_new/networkx/170402_load_network_flexibly--py2.ipynb
rnaseq/pcor_new/networkx/results/
rnaseq/pcor_new/old_before_bug_fix/

garbage/

m4b_binning/assembly/isolate_Fauzi_stats/isolate/170328_checkM_table.sh
m4b_binning/assembly/isolate_Fauzi_stats/isolate/170328_checkM_table.sh.tsv
m4b_binning/assembly/isolate_Fauzi_stats/isolate/checkm_isolate_results/
m4b_binning/assembly/isolate_Fauzi_stats/isolate/checkm_isolate_results_170328/
m4b_binning/assembly/isolate_Fauzi_stats/isolate/checkm_qa.out_err
rnaseq/alignments/Explore_RNA-seq--170327_working_copy.ipynb
rnaseq/alignments/Explore_RNA-seq--old_170327.ipynb
rnaseq/pcor_new/networkx/*.gpickle
rnaseq/rna_fastq_read_counts_total.txt

m4b_binning/assembly/data/sample_info/sample_read_counts--old_strategy.tsv
m4b_binning/assembly_concoct/
m4b_binning/assembly_mycc_completed/
rnaseq/alignments/170316_Explore_RNA-seq_try_more.ipynb
rnaseq/alignments/Explore_RNA-seq-170316_running_copy.ipynb
rnaseq/alignments/Explore_RNA-seq_old.ipynb
rnaseq/pcor_new/170310_evaluate_largest_Ledoit_Wolf_pcor_result.ipynb
rnaseq/pcor_new/old_half-baked/
rnaseq/pcor_old/170227_test_networkx/
rnaseq/pcor_old/170228_out_of_memory_messages/
rnaseq/pcor_old/170301_graphical_Lasso.ipynb
rnaseq/pcor_old/170301_try_gLasso.ipynb
rnaseq/pcor_old/make_network.sh
rnaseq/pcor_old/network_utils.py
rnaseq/pcor_old/trim_out_low_expression/normalized_counts.tsv
rnaseq/scripts/README.md

rnaseq/pcor_old/results*
rnaseq/pcor_old/*.stdouterr
rnaseq/pcor_old/*.tsv
rnaseq/*.tsv
rnaseq/pcor_new/old/*
rnaseq/pcor_new/*.tsv
rnaseq/pcor_new/Ledoit_Wolf_60GB_result/
rnaseq/pcor_new/Ledoit_Wolf_large_instance_result--un-trimmed_names/
rnaseq/pcor_new/Ledoit_Wolf_r4.8xlarge_244GB_memory/
rnaseq/pcor_new/ledoit_wolf_precision_60GB_ram_OLD/
rnaseq/pcor_new/trimmed_training_data/

__pycache__/
*.py[cod]
.ipynb_checkpoints


.git--deprecated/
m4b_binning/assembly/data/sample_info/read_counts.txt
m4b_binning/assembly/data/sample_info/sample_info_w_cryptic.tsv
*.pkl


rnaseq/alignments/map_to_contigs_longer_than_1500bp/
rnaseq/data

m4b_binning/170111_metabat_checkm/
m4b_binning/analysis--deprecated/
m4b_binning/assembly_mycc/

m4b_binning/assembly/.gitignore
m4b_binning/assembly/LICENSE
m4b_binning/assembly/README.md

*.pdf
*.err
*.fai
*.faa
*.ffn
*.fna
*.fsa
*.gbk
*.gff
*.sqn
*.tbl

m4b_binning/assembly/assembly/done
m4b_binning/assembly/assembly/log
m4b_binning/assembly/assembly/opts.txt
m4b_binning/assembly/contigs_by_chunk/contigs_longer_than_1500bp_contig_lengths_in_order.tsv
m4b_binning/assembly/isolate_Fauzi_stats/isolate/obtaining_isolate_stats.txt
m4b_binning/assembly/map_reads_to_contigs/170221_compare_bam_file_sizes_of_repeated_mappings.ipynb
m4b_binning/assembly/map_reads_to_contigs/*.pdf
m4b_binning/assembly/map_reads_to_contigs/joblog_*
m4b_binning/assembly/map_reads_to_contigs/map_to_contigs_longer_than_1500bp--20_single_threads/
m4b_binning/assembly/map_reads_to_contigs/map_to_contigs_longer_than_1500bp/
m4b_binning/assembly/map_reads_to_contigs/map_to_contigs_longer_than_1500bp_test_scale/
m4b_binning/assembly/map_reads_to_contigs/map_to_contigs_longer_than_1500bp_thread_tests/
m4b_binning/assembly/map_reads_to_contigs/old/
m4b_binning/assembly/map_reads_to_contigs/stdout_stderr_170217_/
m4b_binning/assembly/map_reads_to_contigs/test_gene_counts/
m4b_binning/assembly/metabat/
m4b_binning/assembly/prokka/contigs/__pycache__/

m4b_binning/assembly/170219_found_executables--keep.txt
m4b_binning/assembly/170219_found_executables.txt
m4b_binning/assembly/170219_found_python_files.txt
m4b_binning/assembly/6.map_reads_to_bins--print_to_learn
m4b_binning/assembly/data/sample_info/sample_read_counts.tsv
software/

m4b_binning/assembly/prokka/contigs/contigs_longer_than_10000bp_02082017/contigs_longer_than_10000bp_02082017.txt
m4b_binning/assembly/prokka/contigs/contigs_longer_than_10000bp_02082017/headers.txt
m4b_binning/assembly/prokka/contigs/contigs_longer_than_1500bp/
m4b_binning/assembly/prokka/contigs/contigs_longer_than_2500bp_02082017/contigs_longer_than_2500bp_02082017.txt
m4b_binning/assembly/prokka/contigs/contigs_longer_than_2500bp_02082017/headers.txt

m4b_binning/assembly/assembly/final.contigs.len
m4b_binning/assembly/assembly/intermediate_contigs/
m4b_binning/assembly/data/samples
m4b_binning/assembly/isolate_Fauzi_stats/Fauzi/
m4b_binning/assembly/map_reads/flagstat/flagstat_results/*.flagstat
*.flagstat
m4b_binning/assembly/map_reads/flagstat/idxstat_results/
*.idxstats
m4b_binning/ftp.ncbi.nih.gov/
m4b_binning/software_build/
m4b_binning/tmp/

*.log
*.jobs
*.swp
*/.ipynb_checkpoints/*
*/__pycache__/*

m4b_binning/assembly/ANI/*.tsv
m4b_binning/assembly/ANI/ANIs_by_JGI_tool/
m4b_binning/assembly/ANI/Plot_ANIs.ipynb
m4b_binning/assembly/abundances/results/

m4b_binning/assembly/assess_sample_mappings_to_contigs/*.pdf
m4b_binning/assembly/assess_sample_mappings_to_contigs/figures/
m4b_binning/assembly/assess_sample_mappings_to_contigs/results/
m4b_binning/assembly/assess_sample_mappings_to_contigs/retired/
m4b_binning/assembly/assess_unbinned_reads_across_samples/data/
m4b_binning/assembly/assess_sample_mappings_to_contigs/170120_explore.ipynb

m4b_binning/assembly/bin_info/CheckM_qa.txt
m4b_binning/assembly/bin_info/CheckM_results.tsv
m4b_binning/assembly/bin_info/metabat_bins--all_info.tsv
m4b_binning/assembly/bin_info/metabat_bins.tsv
m4b_binning/assembly/bin_info/phylophlan_result.tsv
m4b_binning/assembly/checkm_qa.out_err

m4b_binning/assembly/data/all_taxa_lineage_notnone.tsv
m4b_binning/assembly/data/nr.dmnd
m4b_binning/assembly/data/nr.faa
m4b_binning/assembly/data/prot.accession2taxid.gz
m4b_binning/assembly/data/prot.accession2taxid.txt

m4b_binning/assembly/holding_area/

m4b_binning/assembly/map_reads/final.contigs.fa.*

m4b_binning/assembly/metabat335/
m4b_binning/assembly/genomes/prokka/*.csv
m4b_binning/assembly/genomes/prokka/results/
m4b_binning/assembly/isolate_CheckM.txt
m4b_binning/assembly/isolate_Fauzi_stats/isolate/isolate_CheckM.txt
m4b_binning/assembly/isolate_Fauzi_stats/isolate/genomes/prokka/results/
m4b_binning/assembly/isolate_Fauzi_stats/isolate/genomes/prokka/summary.csv

m4b_binning/assembly/prokka/results/
m4b_binning/assembly/prokka/summary.csv

m4b_binning/assembly/phylophlan/*.txt
m4b_binning/assembly/phylophlan/*.nwk

*.bam
*.bai
*.fa
m4b_binning/assembly/data/HOW10/
m4b_binning/assembly/data/HOW11/
m4b_binning/assembly/data/HOW12/
m4b_binning/assembly/data/HOW13/
m4b_binning/assembly/data/HOW14/
m4b_binning/assembly/data/HOW4/
m4b_binning/assembly/data/HOW5/
m4b_binning/assembly/data/HOW6/
m4b_binning/assembly/data/HOW7/
m4b_binning/assembly/data/HOW8/
m4b_binning/assembly/data/HOW9/
m4b_binning/assembly/data/LOW10/
m4b_binning/assembly/data/LOW11/
m4b_binning/assembly/data/LOW12/
m4b_binning/assembly/data/LOW13/
m4b_binning/assembly/data/LOW14/
m4b_binning/assembly/data/LOW4/
m4b_binning/assembly/data/LOW5/
m4b_binning/assembly/data/LOW6/
m4b_binning/assembly/data/LOW7/
m4b_binning/assembly/data/LOW8/
m4b_binning/assembly/data/LOW9/

m4b_binning/assembly/abundances/abundances_stats_for_each_bin_with_taxonomy_and_bin_stats.tsv
m4b_binning/assembly/abundances/abundances_with_taxonomy_and_bin_stats.tsv
m4b_binning/assembly/abundances/bin_abundances.tsv
m4b_binning/assembly/abundances/bin_contig_mappings.tsv
m4b_binning/assembly/abundances/old/
m4b_binning/assembly/abundances/summary_abundancy_by_family.tsv
m4b_binning/assembly/compare_metabats_unmapped/abundances_of_none.tsv

m4b_binning/assembly/data/sample_info/meta4_sample_names--cryptic_to_sample_number.tsv

m4b_binning/assembly/metabat.specific.min_contig2500/CheckM.txt
m4b_binning/assembly/metabat.specific.min_contig2500/SCG/
m4b_binning/assembly/metabat.specific.min_contig2500/bin_abundances.tsv
m4b_binning/assembly/metabat.specific.min_contig2500/bin_contig_mappings.tsv
m4b_binning/assembly/metabat.specific.min_contig2500/boot.2047962258932518847
m4b_binning/assembly/metabat.specific.min_contig2500/depth.txt
m4b_binning/assembly/metabat.specific.min_contig2500/saved_2500.dist
m4b_binning/assembly/metabat.specific.min_contig2500/saved_2500.tnf
m4b_binning/assembly/metabat.specific/CheckM.txt
m4b_binning/assembly/metabat.specific/SCG/
m4b_binning/assembly/metabat.specific/bin_abundances.tsv
m4b_binning/assembly/metabat.specific/bin_contig_mappings.tsv
m4b_binning/assembly/metabat.specific/boot.9853856739098185336
m4b_binning/assembly/metabat.specific/depth.txt
m4b_binning/assembly/metabat.specific/saved_1500.dist
m4b_binning/assembly/metabat.specific/saved_1500.tnf
